[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-phpqa"]
	path = .vim/bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule ".vim/bundle/pdv"]
	path = .vim/bundle/pdv
	url = https://github.com/tobyS/pdv.git
[submodule ".vim/bundle/apiblueprint.vim"]
	path = .vim/bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
